---
import Layout from "../layouts/Layout.astro";
import { InputForm } from "@/components/Form";

const classes = {
  main: "bg-red-300 p-10",
};
---

<Layout title="Welcome to Astro.">
  <main class={classes.main}>
    <InputForm client:load />
  </main>
</Layout>
