---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>you can always select a new template or update your data.</h1>
    <form id="test">
      <div class="flex p-80">
        <!-- <Label htmlFor="email">Your email address</Label> -->
        <p>test</p>
      </div>
    </form>
  </main>
</Layout>
