---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
---

<Layout title="Welcome to cv creator">
  <main class="text-slate-50 flex flex-col gap-10">
    <div class="flex flex-col gap-4">
      <h1>create your cv</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eaque ex
        natus dolore a, inventore eos quidem magni obcaecati distinctio culpa
        iure optio cumque nisi nulla soluta libero sit? Dignissimos.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
        placeat dolorem temporibus pariatur, amet culpa molestias? Earum ipsum
        quae at repudiandae commodi impedit hic officiis laboriosam. Facere est
        velit aliquid.
      </p>
    </div>

    <ul role="list" class="link-card-grid flex flex-col gap-1">
      <Card href="/create" title="Create" body="Create a new cv." />
      <Card
        href="/edit"
        title="Edit"
        body="Coming soon - Edit an existing cv."
        disabled
      />
      <Card
        href="/themes"
        title="Themes"
        disabled
        body="Coming soon - Explore the community-built themes."
      />
    </ul>
  </main>
</Layout>
