---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
---

<Layout title="Welcome to cv creator">
  <main class="text-slate-50 flex flex-col gap-10">
    <div class="mx-auto p-6 bg-gray-100 shadow-lg">
      <h1 class="text-3xl font-bold mb-4 text-gray-800">Create Your CV</h1>
      <p class="text-lg text-gray-700 mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eaque ex
        natus dolore a, inventore eos quidem magni obcaecati distinctio culpa
        iure optio cumque nisi nulla soluta libero sit? Dignissimos.
      </p>
      <p class="text-lg text-gray-700">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
        placeat dolorem temporibus pariatur, amet culpa molestias? Earum ipsum
        quae at repudiandae commodi impedit hic officiis laboriosam. Facere est
        velit aliquid.
      </p>
    </div>

    <ul role="list" class="flex flex-col gap-2 shadow-lg">
      <li>
        <Card href="/fill" title="Create" body="Create a new CV." />
      </li>
      <li>
        <Card
          href="/edit"
          title="Edit"
          body="Coming soon - Edit an existing CV."
          disabled
        />
      </li>
      <li>
        <Card
          href="/themes"
          title="Themes"
          body="Coming soon - Explore the community-built themes."
          disabled
        />
      </li>
    </ul>
  </main>
</Layout>
