---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import InputAccordion from "@/components/form/InputAccordion";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col gap-8">
    <InputAccordion client:only="react" />
    <div>
      <Button><a href="/create/visual">Continue</a></Button>
    </div>
  </main>
</Layout>
