---
import Layout from "@/layouts/Layout.astro";
import DataView from "@/components/theme/view";
import GeneratePdf from "@/components/GeneratePdf";
---

<Layout title="CV Generator">
  <main class="flex flex-col gap-8">
    <DataView client:only="react" />
    <div>
      <GeneratePdf />
    </div>
  </main>
</Layout>
