---
import Layout from "@/layouts/Layout.astro";
import DataView from "@/components/theme/view";
---

<Layout title="CV Generator">
  <main class="flex flex-col gap-8">
    <DataView client:only="react" />
  </main>
</Layout>
