---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import Arrange from "@/components/arrange/Container";
import { translations } from "@/config/content";
---

<Layout title="CV Generator">
  <main class="flex flex-col gap-8">
    <div>
      <div>
        <Arrange client:only="react" />
        <Button>
          <a href="/fill/arrange/theme">{translations.CONTINUE}</a>
        </Button>
      </div>
    </div>
  </main>
</Layout>
